<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    


</head>

<body style="font-family:arial, sans-serif">
   <h1对顾客消费可视化</h1>
    <p>total_bill:总消费 ，tip：小费，sex：性别，smoker：是否吸烟，day：周四到周日，time：晚上或中午，size：消费类型。
    <h2>扇形图</h2>
    <p>对周四到周日的消费总和，可以看出周六周日的顾客消费最高</p>
    <div id="chart" class="chart"></div>
    <h2>柱状图</h2>
     <P>对周四到周日的消费中不同的性别顾客和是否吸烟的顾客在每一天消费总和之间的比较</P>
    <div id="chart1" class="chart"></div>
    <h2>箱型图</h2>
      <P>对周四到周日的消费和是否吸烟的顾客做箱型图，从图中可以看出只有很少的数据出现异常，在周日，周六中吸烟的顾客消费明显比不吸烟的顾客消费高</P>
    <div id="chart2" class="chart"></div>
    <h2>小提琴图</h2>
     <p>对不同性别和是否吸烟的顾客做小提琴图，从图中可以看出不管是否吸烟，女性的顾客消费大概率比男性顾客的高</p>
    <div id="chart3" class="chart"></div>
     <h2>并行类别图</h2>
     <p>对性别，星期，是否吸烟和晚上或中午时间进行组合划分为6种类型的顾客，判断消费类型。
    <div id="chart4" class="chart"></div>
</body>

<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart', d, {});

    d = {{ graphJSON1 | safe }};
    Plotly.newPlot('chart1', d, {});

    d = {{ graphJSON2 | safe }};
    Plotly.newPlot('chart2', d, {});
    d = {{ graphJSON3 | safe }};
    Plotly.newPlot('chart3', d, {});
    d = {{ graphJSON4 | safe }};
    Plotly.newPlot('chart4', d, {});
</script>


</html>
