<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Resume!</title>
  <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<html>

<head>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Share+Tech|Share+Tech+Mono" rel="stylesheet" />
    <title>Designs by Laighlin</title>
</head>

<body onload="draw()">
    <canvas id="bg"></canvas>
    <main id="content">
        <h1>
            <div class="hex moved"></div><span>自我介绍</span></h1>
        <div class="subtext" id="main">
            <p>{{ person.dev }}</p>
            <p>{{ person.description }}</p>
        </div>
        <h2>
            <div class="hex"></div><span>技能</span></h2>
        <div class="subtext coll">
            {{ person.skill }}
        </div>
        <h2>
            <div class="hex"></div><span>兴趣爱好</span></h2>
        <div class="subtext coll">
            {{ person.interests1}}
        </div>
        <h2>
            <div class="hex"></div><span>工作经验</span></h2>
        <div class="subtext coll">
             {% for experience in person.experiences %}
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">{{ experience.title }}</h3>
                            <div class="time">{{ experience.timeframe }}</div>
                        </div><!--//upper-row-->
                        <div class="company">{{ experience.company }}</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>{{ experience.description }}</p>  
                    </div><!--//details-->
                </div><!--//item-->
                {% endfor %}
        </div>
        
        <h2>
            <div class="hex"></div><span>找到我的方式</span></h2>
        <div class="subtext coll">
            <a>QQ</a> | <a>微信</a> 
        </div>
        
        <h2>
 
            <div class="hex"></div><span>联系方式</span></h2>
        <div class="subtext coll">
            <ul>
             {% for contact1 in person.contact %}
                <li> {{ contact1.way}}: {{ contact1.lk}}</li>
             {% endfor %}
            </ul>
        </div>
    </main>
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" class="wave" id="one"><path d="M-13.36,88.98 C168.85,182.73 276.72,-73.84 506.31,79.10 L500.00,150.00 L0.00,150.00 Z"></path></svg>
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" class="wave" id="two"><path d="M-13.36,88.98 C168.85,182.73 276.72,-73.84 506.31,79.10 L500.00,150.00 L0.00,150.00 Z"></path></svg>
    <div id="hex-holder">
        <div class="hex" id="uno"></div>
        <div class="hex" id="dos"></div>
        <div class="hex" id="tres"></div>
    </div>
</body>

</html>
<!-- partial -->
  <script  src="../static/js/script.js"></script>

</body>
</html>
